@use '../abstracts/variables' as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: v.$bg-color;
    color: v.$fg-color;
    font-family: v.$font-stack;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

// Basic typography defaults
h1 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: v.$green;
}

p { margin-bottom: 10px; }

a {
    color: v.$fg-color;
    text-decoration: none;
    display: inline-block;
}
