// Flexbox centering
@mixin center-flex($direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

// Absolute centering
@mixin center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Grid centering
@mixin center-grid {
    display: grid;
    place-items: center;
}
