@use '../abstracts/variables' as v;

.file-list {
    list-style: none;
    margin-top: 20px;

    li {
        margin-bottom: 5px;
        display: flex;

        // The "fake permissions" prefix
        &::before {
            content: "-rwxr-xr-x"; 
            color: v.$gray;
            margin-right: 15px;
            font-size: 0.9rem;
        }

        a {
            // The hover block cursor effect
            &:hover {
                background-color: v.$fg-color;
                color: v.$bg-color;
            }
        }
    }
}
