{% extends "base.html" %}

{% block title %}Blog{% endblock title %}

{% block content %}
<div class="intro-block">
  <p class="intro-text" id="intro-text">
    به وبلاگ من خوش آمدید! در اینجا مقالاتی در مورد توسعه نرم‌افزار، طراحی وب، و
    نکات بهره‌وری را خواهید یافت.
  </p>
</div>
<main>
  {% for post in posts %}
  <article class="post-card">
    <div class="post-header">
      <span class="post-date">
        {% match post.published_at %} {% when Some with (date) %} {{
        date.format("%d %b %Y") }} {% when None %} Draft {% endmatch %}
      </span>
    </div>

    <a href="/blog/{{ post.id }}" class="post-title" id="title-1"
      >{{ post.title }}</a
    >
    <p class="post-excerpt" id="excerpt-1">{{ post.excerpt }}</p>
    <div class="post-footer">
      <div class="tags"></div>
      <a href="/blog/{{ post.id }}" class="read-btn" id="read-1">Read Buffer</a>
    </div>
  </article>
  {% endfor %}
</main>
{% endblock content %}

{% block script %}
{% endblock script %}
