{% extends "base.html" %}

{% block title %}about-me{% endblock %}


{% block content %}
    <div class="terminal-window">
      <div class="terminal-header">
        <div class="buttons">
          <span class="btn close"></span>
          <span class="btn minimize"></span>
          <span class="btn maximize"></span>
        </div>
        <div class="title">toghrol@ubuntu: ~/workspace</div>
      </div>
      <div class="terminal-body">
        <div>
          <span class="prompt">toghrol@ubuntu-25-04</span>:<span class="path"
            >~/workspace</span
          >$ cargo run --bin about-me
        </div>

        <br />
        <h1>> About me</h1>
        <p>Name: Toghrol</p>
        <p>
          Description:
          <a href="#">This is Toghrol</a>
        </p>

        <br />
        <div>
          <span class="prompt">toghrol@ubuntu-25-04</span>:<span class="path"
            >~/workspace</span
          >$ <span class="cursor"></span>
        </div>
      </div>

      <div class="status-bar">
        <div><span class="mode">NORMAL</span> contact-info.html</div>
        <div>rustc 1.83.0 | utf-8 | 100%</div>
      </div>
    </div>
{% endblock %}
