<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/sass/main.css" />
    <title>{{ site_name }}@contact-info</title>
  </head>
  <body>
    <div class="terminal-window">
      <div class="terminal-body">
        <div>
          <span class="prompt">toghrol@ubuntu-25-04</span>:<span class="path"
            >~/workspace</span
          >$ cargo run --bin contact_info
        </div>

        <br />
        <h1>> Contact Information</h1>
        <p>Name: Toghrol</p>
        <p>
          Email:
          <a href="mailto:toghroltheprogrammer@gmail.com"
            >toghroltheprogrammer@gmail.com</a
          >
        </p>

        <br />
        <div>
          <span class="prompt">toghrol@ubuntu-25-04</span>:<span class="path"
            >~/workspace</span
          >$ <span class="cursor"></span>
        </div>
      </div>

      <div class="status-bar">
        <div><span class="mode">NORMAL</span> contact-info.html</div>
        <div>rustc 1.83.0 | utf-8 | 100%</div>
      </div>
    </div>
  </body>
</html>
