{% extends "base.html" %}

{% block title %}sysetm{% endblock %}

{% block content %}
    <div class="terminal-window">
      <div class="terminal-body">
        <div>
          <span class="prompt">toghrol@ubuntu-25-04</span>:<span class="path"
            >~/workspace</span
          >$ cargo run --bin welcome
        </div>

        <br />
        <h1>> System Ready. Welcome, Toghrol.</h1>
        <p>OS: Ubuntu 25.04 (Noble Numbat)</p>
        <p>Shell: /bin/bash</p>
        <p>Editor: Vim 9.1</p>
        <br />
        <p>Select a binary to execute:</p>

        <ul>
          <li><a href="#">./projects.rs</a></li>
          <li><a href="#">./about_me.md</a></li>
          <li><a href="contact-info">./contact_info.json</a></li>
          <li><a href="#">./blog/</a></li>
        </ul>

        <br />
        <div>
          <span class="prompt">toghrol@ubuntu-25-04</span>:<span class="path"
            >~/workspace</span
          >$ <span class="cursor"></span>
        </div>
      </div>

      <div class="status-bar">
        <div><span class="mode">NORMAL</span> index.html</div>
        <div>rustc 1.83.0 | utf-8 | 100%</div>
      </div>
    </div>
{% endblock %}
